* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "freight Big Pro";
}

html,
body {
    height: 100%;
    width: 100%;
}



#main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11;
}

#yellow1 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f5e41b;
    z-index: 8;
}

#yellow2 {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f5e41b;
    z-index: 7;
}

#loader>h1 {
    color: white;
    font-size: 6vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
    position: relative;
    z-index: 9;
}

#loader>video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}

#nav {
    position: absolute;
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 10;
}

#nav h1 {
    color: #000;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    padding: 8px;
    font-size: 3vh;
}

#nav button {
    padding: 13px 22px;
    color: #f5e41b;
    background-color: black;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav button:hover {
    background-color: #2e2e2d;
}

#nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-right a {
    padding: 5px 5px;
    margin-right: 3vw;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    padding-bottom: 0px;
    border-bottom: 1px solid #f5e41b;
}

#nav-right a:hover {
    border-bottom: 1px solid black;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: #f5e41b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#page1>h1 {
    font-size: 6vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
}

#moving-div {
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 8%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;
}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move h1 {
    display: inline-table;
    text-transform: uppercase;
    height: 0.5vh;
    margin: 0 1.2vw;
    font-family: serif;
    font-size: 3vh;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #f5e41b, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #f5e41b);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

/* ------------------------------------------------------------------------------------------------- */

#main2 {
    background-color: rgb(168, 167, 158);
    height: 105vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    z-index: 12;
}

.container {
    width: 1000px;
    height: 700px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    margin-top: 40px;
}

#main2 h1,
h2 {
    text-align: center;
    text-transform: capitalize;
    margin: 2px 20px 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    letter-spacing: 2px;
    border: 1px solid #f5e41b;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5e41b;
    color: black;

}

#row2 {
    display: flex;
}

#blogForm h3 {
    padding: 5px 0px 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
    text-transform: capitalize;
    color: #e5df9f;
}

#row1 {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

#title {
    width: 60vw;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #e5df9f;
}

#author,
#hashtags {
    width: 30vw;
    /* Set a different width for other inputs */
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #e5df9f;

}

textarea {
    width: 61vw;
    height: 46vh;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #e5df9f;

}

#content {
    font-size: 2vh;
}

#content::placeholder {
    font-size: 2vh;
    text-transform: uppercase;
}

#main2 button {
    width: 14vw;
    font-size: 3vh;
    padding: 10px;
    background-color: #f5e41b;
    color: Black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 360px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#main2 button:hover {
    background-color: #e5df9f;
}

#blogs {
    margin-left: 40px;
    margin-top: 20px;
}

#blogs li strong {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: 500;
}

.blog {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
    border: 1px solid #ddd;
    list-style: none;
    background-color: #e5df9f;
    color: black;
    font-size: 2vh;
}

.blog-content {
    margin-top: 5px;
}

/* ----------------------------------------------------------------------------------------- */
#main3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(168, 167, 158);
    ;
}

#row11 {
    display: flex;

}

#row22 {
    display: flex;

}

#row11 h3 {
    padding: 5px 0px 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
    text-transform: capitalize;
    color: #f5e41b;
}

#row22 h3 {
    padding: 5px 0px 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
    text-transform: capitalize;
    color: #f5e41b;
}

#chat {
    height: 30vh;
    overflow-y: auto;
    padding: 10px;
    background-color: black;
    margin-top: 20px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #96ea6c;
    align-self: flex-end;
    text-align: right;
    color: black;
}

.bot-message {
    background-color: #e7f76c;
    align-self: flex-start;
    text-align: left;
    color: black;
}

#container3 {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 1000px;
    height: 700px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    margin-top: 60px;
    color: white;
}

#container3 h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    letter-spacing: 2px;
    border: 1px solid #f5e41b;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5e41b;
    color: black;
}

#row11 input {
    width: 60vw;
}

#questionForm textarea {
    width: 61vw;
    height: 15vh;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#questionForm button {
    width: 14vw;
    font-size: 3vh;
    padding: 10px;
    background-color: #f5e41b;
    color: Black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 360px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

#main3 {
    background-color: rgb(168, 167, 158);
    height: 105vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    z-index: 12;
}

.container h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    letter-spacing: 2px;
    border: 1px solid #f5e41b;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5e41b;
    color: black;
}

/* ------------------------------------------- */

#athletes-section {
    height: 60vh;
    width: 100vw;
    background-color: rgb(168, 167, 158);
    padding-top: 13vh;
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.athlete-card {
    width: 300px;
    height: 350px;
    background-color: black;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    position: relative;
    background-size: cover;
    background-position: center;
}


.athlete-details {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.athlete-details h2 {
    font-size: 2.5vh;
    margin-bottom: 8px;
}

.athlete-details p {
    font-size: 2vh;
    margin-bottom: 5px;
}

.achievements {
    background-color: #f5e41b;
    padding: 10px;
    color: black;
    font-size: 1.8vh;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #f5e41b;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #f5e41b;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h2 {
    color: black;
    /* Change text color */
    background-color: #f5e41b;
    /* Yellow background */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f5e41b;
    border-radius: 4px;
    background-color: #e5df9f;
}

.modal-content button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #f5e41b;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #e5df9f;
}

.close {
    color: #f5e41b;
    position: absolute;
    /* Position absolute */
    top: 10px;
    /* Move to top */
    right: 10px;
    /* Move to right */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #e5df9f;
}