<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogging Website</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <div id="loader">
      <div id="yellow1"></div>
      <div id="yellow2"></div>
      <video autoplay loop muted src="./assets/video.mp4"></video>
      <h1>
        UNLEASH THE ATHLETE'S VOICE<br /><em>STORIES</em> OF PASSION,<br />PERSEVERANCE, <br /><em>VICTORY</em
        >!
      </h1>
    </div>
    <div id="nav">
      <h1>ACTIVITY</h1>
      <div id="nav-right">
        <a href="">HOME</a>
        <a href="./blog.html">BLOGS</a>
        <a href="./explore.html">EXPLORE</a>
        <button>SIGN IN</button>
      </div>
    </div>
    <div id="main">
      <div id="page1" data-scroll data-scroll-speed="-2">
        <h1>
          UNLEASH THE ATHLETE'S VOICE<br /><em>STORIES</em> OF PASSION,<br />PERSEVERANCE, <br /><em
            >VICTORY</em
          >!
        </h1>
      </div>
      <div id="moving-div">
        <div id="blur-left"></div>
        <div class="move">
          <h1>Athletics</h1>
          <h1>Swimming</h1>
          <h1>Gymnastics</h1>
          <h1>Basketball</h1>
          <h1>Boxing</h1>
          <h1>Football</h1>
          <h1>Tennis</h1>
          <h1>Cycling</h1>
        </div>
        <div class="move">
          <h1>Athletics</h1>
          <h1>Swimming</h1>
          <h1>Gymnastics</h1>
          <h1>Basketball</h1>
          <h1>Boxing</h1>
          <h1>Football</h1>
          <h1>Tennis</h1>
          <h1>Cycling</h1>
        </div>
        <div id="blur-right"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
